name: publish

on:
  release:
    types: [published]

jobs:
  publish:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v2
      - name: setup JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          server-id: majek-repo
          settings-path: ${{ github.workspace }}

      - name: build with maven
        run: mvn -B package --file pom.xml -DskipTests

      - name: setup settings.xml
        uses: s4u/maven-settings-action@v2.4.1
        with:
          servers: |
            [{
                "id": "majek-repo",
                "username": "${{ secrets.MAVEN_USERNAME }}",
                "password": "${{ secrets.MAVEN_PASSWORD }}"
            }]

      - name: publish to majek-repo
        run: mvn deploy